:root {
  --white: white;
  --grey: hsl(0, 0%, 20%);
  --darkGrey: hsl(0, 0%, 12%);
  --offBlack: hsl(0, 0%, 8%);
  --green: hsl(75, 94%, 57%);
}

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  text-decoration: none;
  color: var(--white);
}

body {
  min-height: 100vh;
  min-width: 100vw;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  background-color: var(--offBlack);
}

.container {
  width: 100%;
  margin-top: 4rem;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
  border-radius: 0.75rem;
  background-color: var(--darkGrey);
  text-align: center;
  transition: all 0.25s;
}

.my__person {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.my__person .my__image img {
  width: 7rem;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  border: 2px solid var(--offBlack);
}

.my__person .my__informations {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-weight: 600;
}

.my__person .my__informations h1 {
  font-size: 2rem;
}

.my__person .my__informations h2 {
  font-size: 1.15rem;
  color: var(--green);
}

.my__describe {
  margin-top: 1rem;
  font-size: 0.875rem;
}

.my__socialNetworks {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.my__socialNetworks a {
  padding: 0.75rem;
  border-radius: 0.75rem;
  background-color: var(--grey);
  font-weight: 700;
  transition: all 0.25s ease;
}

.my__socialNetworks a:hover {
    background-color: var(--green);
    color: var(--offBlack);
}

@media screen and (min-width: 31.25rem) {
  .container {
    width: 80%;
  }
}

@media screen and (min-width: 40rem) {
  .container {
    width: 24rem;
  }
}
